/*Add CSS styles here*/
body{
    font-family: 'Garamond', serif;
    background-color:rgb(49, 49, 51);
    color: rgb(242, 247, 213);
}
/*title div class style*/
#title {
    padding: 5px;
}
/*Popup style*/
.leaflet-popup-content p {
    margin: 0.2em 0;
}
/*popup image parameters*/
.popupImage{
    width: 100%;
}

/*Map div class style*/
#map {
    height: 600px;
    width: 100%;
    display: inline-block;
    /*vertical-align: top;*/
    
}

<<<<<<< Updated upstream
/*text id div class style*/
#textid {
    width: 95%; 
    height:550px;

}
/*sequence box style*/
.sequence-control-container {
    width: 300px;
    height: 70px;
    background-color: rgba(243, 187, 187, 0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid rgb(180, 19, 19) 1px;
}

/*style range slider style*/
.range-slider {
    width: 175px;
    fill:aqua;
    height: 5px;
    background: white;
}

.step {
    width: 45px;
}

.step img {
    width: 100%;
    height: auto;
}

/*Panel box style from chapter 5 sequences box*/
#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
 
#forward {
    float: right;
}

#reverse {
    float: left;
}
/*legend style*/
.legend-control-container {
    width: 160px;
    height: 110px;
    font-weight: bold;
    color:black;
    background-color: rgba(243, 187, 187, 0.8);
    padding: 10px;
    text-align: center;
    border: solid rgb(180, 19, 19) 1px;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 14px;
}

.legend-contol-container p{
    margin: 1;
=======
/*color scheme focuses on the colors of a cow. They are black, white, brown, and pink for the nose*/



 /*style title div class*/
#title {
	padding: 10px;
}

 /*style mapid div class*/
#mapid { 
	height: 550px;
	width: 100%;
	display: inline-block; 
}

 /*style textid div class*/
#textid {
	width: 95%;
	height: 550px;
	overflow: scroll;
}

 /*remove scrollbar visibility*/
::-webkit-scrollbar {
	display: none;
}

 /*style popup box*/
.leaflet-popup-content-wrapper {
	background: #3792cb;  
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

 /*style sequence box*/
.sequence-control-container {  
    width: 300px;  
    height: 40px;  
    background-color: #734343;  /*controls color of slider background*/  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: rgb(175, 119, 41) 1px;  
} 

 /*style range ranger*/
.range-slider {
	width: 175px;
	fill: #3792cb   ;  
	height: 5px;
	-webkit-appearance: none;
	background: white;
}

 /*style range slider button*/
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #161811; 
}

 /*style step buttons on slider*/
.step {
	width: 40px;
}

.step img {
	width: 100%;
	height: auto;
}

#forward {
	float: right;
	background-color: #3792cb;  /*based on a cow's nose*/
}

#reverse {
	float: left;
	background-color: #3792cb;  
}

 /*override legend style for attributes*/
#max-text,
#mean-text,
#min-text,
#zero-text {
	fill: rgb(255, 255, 255);
	font-weight: normal;
	font-family: 'Sansita Swashed', cursive;
	font-size: 11px;
}



/* CONTROLS colors of the legend's circles */
#max.legend-circle,
#mean.legend-circle,
#min.legend-circle,
#zero.legend-circle {
	fill: #3792cb;
}

 /*style the legend*/
.legend-control-container {
    width: 160px;
    height: 90px;
    font-weight: bold;
    color: white;
    background-color: #734343;   /* background color of legend*/
    padding: 10px;
    text-align: center;
    border: solid orange 1px;
    font-family: 'Geneva', sans-serif;
    font-size: 11px;
}

.legend-control-container p{
     margin: 0;
}



 /*color links*/
a {
	color: #3792cb;  /*used to match the cow's nose color and follow the general basic color scheme*/
}

 /*color links on hover*/
a:hover {
	color: #D42C04;  
}

 /*style breaks*/
br:after {
	margin-bottom: 10px !important;
>>>>>>> Stashed changes
}