<<<<<<< Updated upstream
=======
/*insert style here*/
/*color scheme focuses on the colors of a cow. They are black, white, brown, and pink for the nose*/
h1 {
	font-family: 'Moo Lah Lah', cursive;
	color: rgb(77, 20, 20);
	font-size: 70px;
	
}

h2 {
	font-family: 'Sansita Swashed', cursive;
}
body{
	font-family: 'Sansita Swashed', cursive;
	size: 50px;
}

>>>>>>> Stashed changes


 /*style mapid div class*/
#mapid { 
	height: 550px;
	width: 100%;
	display: inline-block; 
}

 /*style textid div class*/
#textid {
	width: 95%;
	height: 550px;
	overflow: scroll;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

<<<<<<< Updated upstream
    
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
=======
 /*style breaks*/
br:after {
	margin-bottom: 10px !important;
>>>>>>> Stashed changes
}