/*Add CSS styles here*/

/* When there is no data ...*/

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
  }
body { font: 12px Arial;}

path { 
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
	cursor: pointer;
}
  
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 2;
	shape-rendering: crispEdges;
	
}
.legend {
    position: absolute;
	font-size: 14px;
	font-weight: bold;	
	cursor: pointer;	
}
  
.legend:hover {
	font-size: 18px;
	font-weight: bold;	
	cursor: pointer;	
}

/*styling callout container*/
.infolabel {
    margin: 0 20px 0 0;
    position: absolute;	
    height: 50px;
    min-width: 50px;
    color: #fff;
    background-color: #2d2783;
    border: solid thin #fff;
    padding: 10px 10px;
    top: -75px;
    border-radius: 10px;
}
/*styling callout text*/
.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 10px 10px 0 0;
}

.numbers {
    fill: white;
    font-family: sans-serif;
    font-size: 0.5em;
    writing-mode: vertical-rl;
}

.chartTitle {
	display: inline-block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.chartBackground {
    fill: none;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.path:hover {
	fill:yellow;
}

/*style for menu dropdown*/
.dropdown {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    background-color: rgba(245, 245, 245, 0.3);
    color:#160100;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 2px 2px 4px #999;
    border-radius: 5px;
    cursor: pointer;
}
/*styling for legend*/
.legendBox {
    position: absolute;
    top: 530px;
    left: 20px;
    z-index: 50;
    height: 200px;
    width: 185px;
    font-family: sans-serif;
    font-size: 0.65em;
    font-weight: bold;
    padding: 2px;    
}
/*styling for dropdown options*/
.option {
    font-weight: normal;
}

.axis text {
    font-family: sans-serif;
    font-size: 1.1em;
    fill: rgb(107, 107, 107);
}

/*STYLING FOR BUBBLE CHART*/
body { font: 12px Arial;}

.bubble_axis path,
.bubble_axis line {
	fill: none;
	stroke: rgb(188, 188, 188);
	stroke-width: 2;
	shape-rendering: crispEdges;
	
}

/*styling callout container*/
.bubble_infolabel {
    margin: 0 20px 0 0;
    position: absolute;	
    height: 40px;
    min-width: 50px;
    color: #fff;
    background-color: #2d2783;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    border-radius: 10px;
}
/*styling callout text*/
.bubble_infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.bubble_chart {
    position: right;
    background-color: rgb(4, 0, 115);
    border: medium solid #999;
    float: right;
    margin: 0px 10px 0px 0px;
}

.bubble_chartTitle {
	display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    fill: rgb(255, 255, 255);
}

.bubble_chartNotation {
	display: inline-block;
    font-family: sans-serif;
    font-size: .8em;
    font-weight: bold;
    fill: rgb(255, 255, 255);
}

.bubble_chartBackground {
    fill: none;
}

.bubble_chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

/*additional styling for circles*/
.circle{
    cursor: pointer; 
}
/*style for menu dropdown*/
.bubble_dropdown {
    position: absolute;
    top: 40px;
    left: 30px;
    z-index: 100;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2px;
    background-color: rgb(240, 240, 240);
    color:#160100;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 2px 2px 4px #999;
    border-radius: 5px;
    cursor: pointer;
}
/*styling for legend*/
.bubble_legendBox {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 50;
    height: 450px;
    width: 185px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 2px 2px 4px #999;
    border-radius: 5px;     
}
.bubble_legend {
	font-size: 14px;
	font-weight: bold;	
	cursor: pointer;    	
}
/*styling for dropdown options*/
.bubble_option {
    font-weight: normal;
}

.bubble_axis text {
    font-family: sans-serif;
    font-size: 1em;
    fill: rgb(255, 255, 255);
}

/*styling for legend*/
.size_legendBox {
    position: absolute;
    top: 560px;
    left: 20px;
    z-index: 50;
    height: 170px;
    width: 185px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 2px 2px 4px #999;
    border-radius: 5px;   
}

.sizeLegend_Title {
	font-size: 14px;
	font-weight: bold;		
}